.zty_sl_head{ background:url(../images/cp_img/zty/slxq_01.jpg) center top no-repeat; height:618px;}
.zty_sl_1{ background:#dff5ff; height:750px;font-family:"微软雅黑"}
.zty_sl_2{ background:url(../images/cp_img/zty/slxq_03.jpg) center top no-repeat; height:641px;}
.zty_sl_3{ background:url(../images/cp_img/zty/slxq_04.jpg) center top no-repeat; height:631px;}
.zty_sl_1box{ margin-left:10px; padding:10px 0;}
.zty_sl_1p{ font-size:18px; color:#007130; line-height:38px;}
.zty_sl_box{ float:left; width:470px; padding:15px 60px;}
.zty_sl_2p{ color:#2a7b8f; font-size:"宋体"; padding-bottom:20px;}

.zty_xy_head{ background:url(../images/cp_img/zty/kaixue12_01.jpg) center top no-repeat;}